pipeline/pl_transformation_movie_history_data.json
{
	"name": "pl_transformation_movie_history_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_movie_history_bronze_inc",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_file_date": {
								"value": "@pipeline().parameters.p_file_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.Exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "email_error",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/admin_curso@arielk00man2hotmail.onmicrosoft.com/Version_final/databricks-course/movie-history/utils/02-mail_error"
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Transformation results movie genre language",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/admin_curso@arielk00man2hotmail.onmicrosoft.com/Version_final/databricks-course/movie-history/transformation_incremental/01-result_movie_genre_language_incremental",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transformation results country prod company",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/admin_curso@arielk00man2hotmail.onmicrosoft.com/Version_final/databricks-course/movie-history/transformation_incremental/02-result_country_prod_company_incremental",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transformation results group movie genre",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/admin_curso@arielk00man2hotmail.onmicrosoft.com/Version_final/databricks-course/movie-history/transformation_incremental/03-results_group_movie_genre_incremental",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Transformation results group movie country",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/admin_curso@arielk00man2hotmail.onmicrosoft.com/Version_final/databricks-course/movie-history/transformation_incremental/04-results_group_movie_country_incremental",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_file_date": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-26T19:18:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}